{% extends 'layout.html' %}

{% block title %}Application: {{ app.name }}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{{ reverse('app:list') }}">Apps</a>
    <li><a href="{{ reverse('app:detail', {appId: app._id}) }}">{{ app.name }}</a></li>
    <li class="active">Delete</li>
  </ol>

  <h1>Delete {{ app.name }}?</h1>

  <p>Are you sure you want to delete the application <strong>{{ app.name }}</strong>? This can't be undone.</p>

  <form method="POST" role="form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <button type="submit" class="btn btn-default">Delete {{ app.name }}</button>
  </form>
{% endblock %}
