.stubbyid button {
  padding: 2px 6px;
  font-size: smaller;
  margin: 0px;
}

body {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}

.webmaker-app-icon {
  color: gray;
  position: relative;
}

.webmaker-app-icon img {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 40px;
}
