{% extends "layout.html" %}

{% from "application/macros.html" import appProfile %}

{% block title %}Apps You Use{% endblock %}

{% block content %}
<h1>Apps You Use</h1>

{% if apps.length == 0 %}
<p>You aren't currently using any apps.</p>
{% endif %}

{% for app in apps %}
<div class="row">
  <div class="col-sm-8">{{ appProfile(app) }}</div>
  <div class="col-sm-4">
    <form method="POST" action="{{ reverse('app:revoke', app) }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-ban"></i>
        Revoke Access
      </button>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}
