{% extends 'layout.html' %}

{% block title %}Application: {{ app.name }}{% endblock %}

{% block content %}
  <h1>Delete {{ app.name }}?</h1>

  <p>Are you sure you want to delete the application <strong>{{ app.name }}</strong>? This can't be undone.</p>

  <form method="POST" role="form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <button type="submit" class="btn btn-danger">
      Yes, delete <strong>{{ app.name }}</strong>
    </button>
    <a class="btn btn-default" href="{{ reverse('app:detail', app) }}">Cancel</a>
  </form>
{% endblock %}
