{% extends 'layout.html' %}

{% block title %}Application: {{ app.name }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_ROOT }}/css/secret.css">
{% endblock %}

{% block content %}
  <h2>{{ app.name }}</h2>
  <p><a href="{{ app.website}} ">{{ app.website }}</a></p>
  <p>{{ app.description }}</p>

  {% if isOwner %}
  <h2>Application Settings</h2>

  <table class="table">
    <tr>
      <td>Access level</td>
      <td>Username and avatar image only
        <span class="text-muted">(more features coming soon!)</span>
      </td>
    </tr>
    <tr>
      <td>API key</td>
      <td>{{ app.apiKey }}</td>
    </tr>
    <tr>
      <td>API secret</td>
      <td>
        <span class="secret-hidden" id="apisecret">{{ app.apiSecret }}</span>
        <button data-secret-reveal="apisecret" class="btn btn-default btn-xs">
          <i class="fa fa-lock"></i>
          Show API Secret
        </button>
      </td>
    </tr>
    <tr>
      <td>Owner</td>
      <td>{{ app.owner }}</td>      
    </tr>

    {% if app.callbackURL %}
    <tr>
      <td>Callback URL</td>
      <td>{{ app.callbackURL }}</td>      
    </tr>    
    {% endif %}

    <tr>
      <td>Request token URL</td>
      <td>{{ reverseAbsolute('oauth:request_token') }}</td>
    </tr>
    <tr>
      <td>Authorize URL</td>
      <td>{{ reverseAbsolute('oauth:authorize') }}</td>
    </tr>
    <tr>
      <td>Access token URL</td>
      <td>{{ reverseAbsolute('oauth:access_token') }}</td>
    </tr>

  </table>

  <p>
    <a href="{{ reverse('app:edit', app) }}" class="btn btn-default">Edit</a>
    <a href="{{ reverse('app:delete', app) }}" class="btn btn-default">Delete</a>
  </p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_ROOT }}/js/secret.js"></script>
{% endblock %}
