{% extends 'layout.html' %}

{% from "application/macros.html" import appProfile %}

{% block title %}Application: {{ app.name }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_ROOT }}/css/secret.css">
{% endblock %}

{% block content %}
  {{ appProfile(app) }}

  {% if isOwner %}
  <h2>Application Settings</h2>

  <table class="table">
    <tr>
      <td>Access level</td>
      <td>Username and avatar image only
        <span class="text-muted">(more features coming soon!)</span>
      </td>
    </tr>
    <tr>
      <td>API key</td>
      <td>{{ app.apiKey }}</td>
    </tr>
    <tr>
      <td>API secret</td>
      <td>
        <span class="secret-hidden" id="apisecret">{{ app.apiSecret }}</span>
        <button data-secret-reveal="apisecret" class="btn btn-default btn-xs">
          <i class="fa fa-lock"></i>
          Show API Secret
        </button>
      </td>
    </tr>
    <tr>
      <td>Owner</td>
      <td>{{ app.owner.username }}</td>      
    </tr>

    {% if app.callbackURL %}
    <tr>
      <td>Callback URL</td>
      <td>{{ app.callbackURL }}</td>      
    </tr>    
    {% endif %}

    <tr>
      <td>Request token URL</td>
      <td>{{ reverseAbsolute('oauth:request_token') }}</td>
    </tr>
    <tr>
      <td>Authorize URL</td>
      <td>{{ reverseAbsolute('oauth:authorize') }}</td>
    </tr>
    <tr>
      <td>Access token URL</td>
      <td>{{ reverseAbsolute('oauth:access_token') }}</td>
    </tr>

  </table>

  <p>
    You'll need to use <a href="http://tools.ietf.org/html/rfc5849">OAuth 1.0</a> to authenticate against Webmaker Connect. At present, the only supported signature method is <code>HMAC-SHA1</code>.
    For a very simple example, see the <a href="https://github.com/toolness/webmaker-connect-node-example">Webmaker Connect Node Example</a>.
  </p>

  <p>
    <a href="{{ reverse('app:edit', app) }}" class="btn btn-default">
      <i class="fa fa-pencil"></i> Edit
    </a>
    <a href="{{ reverse('app:delete', app) }}" class="btn btn-default">
      <i class="fa fa-trash-o"></i> Delete
    </a>
  </p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_ROOT }}/js/secret.js"></script>
{% endblock %}
