{% extends 'layout.html' %}

{% from "application/macros.html" import appProfile %}

{% block title %}Your Apps{% endblock %}

{% block content %}
  <h1>Your Apps</h1>
  {% if apps.length == 0 %}
  <p>You don't currently have any apps.</p>
  {% endif %}
  {% for app in apps %}
    {% set detailsLink = reverse('app:detail', app) %}
    {{ appProfile(app, link=detailsLink) }}
  {% endfor %}

  <p style="margin-top: 1em">
    <a href="{{ reverse('app:new') }}" class="btn btn-default">
      <i class="fa fa-plus"></i> Create An App
    </a>
  </p>
{% endblock %}
