{% macro appProfile(app, link='') %}
  <div class="media">
    <i class="pull-left fa fa-cog fa-5x media-object webmaker-app-icon"></i>
    <div class="media-body">
      <h3 class="media-heading">
        {% if link %}<a href="{{ link }}">{% endif %}
        {{ app.name }}
        {% if link %}</a>{% endif %}
      </h3>
      {% if not link %}
      <p><a href="{{ app.website}} ">{{ app.website }}</a></p>
      {% endif %}
      <p>{{ app.description }}</p>
      <p class="text-muted">Requires access to basic user information (username and gravatar image)</p>
    </div>
  </div>
{% endmacro %}

{% macro appFormFields(form) %}
  <div class="form-group">
    {% fieldwidget form.field('name') %}
    <label>Name</label>
    <input type="text" class="form-control">
    {% endfieldwidget %}
    <span class="help-block">Your application name is used in user-facing authorization screens.</span>
  </div>

  <div class="form-group">
    {% fieldwidget form.field('description') %}
    <label>Description</label>
    <textarea class="form-control"></textarea>
    {% endfieldwidget %}
    <span class="help-block">Your application description is used in user-facing authorization screens.</span>
  </div>

  <div class="form-group">
    {% fieldwidget form.field('website') %}
    <label>Website</label>
    <input type="url" class="form-control" placeholder="http://">
    {% endfieldwidget %}
    <span class="help-block">This is the fully-qualified URL where users can go to make use of your application. It's used in user-facing authorization screens. If you're in the early stages of developing your app and don't have a proper website yet, you can fill this in with a placeholder value, but remember to fix it later!</span>
  </div>

  <!-- We're not even using this field right now, so don't display it.
  <div class="form-group">
    {% fieldwidget form.field('callbackURL') %}
    <label>Callback URL</label>
    <input type="url" class="form-control" placeholder="http://">
    {% endfieldwidget %}
  </div> -->
{% endmacro %}
