{% macro appProfile(app, link='') %}
  <div class="media">
    <i class="pull-left fa fa-cog fa-5x media-object webmaker-app-icon"></i>
    <div class="media-body">
      <h3 class="media-heading">
        {% if link %}<a href="{{ link }}">{% endif %}
        {{ app.name }}
        {% if link %}</a>{% endif %}
      </h3>
      {% if not link %}
      <p><a href="{{ app.website}} ">{{ app.website }}</a></p>
      {% endif %}
      <p>{{ app.description }}</p>
    </div>
  </div>
{% endmacro %}

{% macro appFormFields(form) %}
  <div class="form-group">
    {% fieldwidget form.field('name') %}
    <label>Name</label>
    <input type="text" class="form-control">
    {% endfieldwidget %}
  </div>

  <div class="form-group">
    {% fieldwidget form.field('description') %}
    <label>Description</label>
    <textarea class="form-control"></textarea>
    {% endfieldwidget %}
  </div>

  <div class="form-group">
    {% fieldwidget form.field('website') %}
    <label>Website</label>
    <input type="url" class="form-control" placeholder="http://">
    {% endfieldwidget %}
  </div>

  <div class="form-group">
    {% fieldwidget form.field('callbackURL') %}
    <label>Callback URL</label>
    <input type="url" class="form-control" placeholder="http://">
    {% endfieldwidget %}
  </div>
{% endmacro %}
